/* step-txt/step-txt.css */
.steps-container video,
.steps-container img {
    max-width:  100px !important;
    max-height: 300px !important;
}
.code-container {
    width: fit-content;
    min-width: 400px;
}

.step-float {
    height: fit-content;
}
.step-float>.step-vid {
    width: 40%;
}

