/* Sidebar classes represent focus; they must match the actual focus style. */
:root {
    --bg-clr: grey;
}

body {
    background-color: var(--bg-clr);
}

.page-header,
.nav-lesson-title {
    background-color: rgba(0, 0, 0, 0);
}

.code-container>.copy-code {}

.code-container>.copy-code {
    background-color: var(--module-code-bg);
    color: black;
}