/* position.css */
.page-wrapper {
    position:relative;
}
.main-container>.side-bar {
    position: sticky;
    top: 4%;
}
.tutorial-link-img-container {
    position: fixed;
    right: 0;
    top: 0;
}
.inject-content-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
