/* layout-skoolz.css */
.modules {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
}

.modules li {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 5%;
    /* flex-shrink: 1; */
}