/* borders.css */
#mainLinks>a {
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}

.page-wrapper >nav.nav-lesson-title {
    border: 1px solid black;
    border-bottom: none;
}

.code-container {
    border: 1px solid black;
    border-radius: 8px;
}
.code-container > .copy-code{
    border-radius: 3px;
}
.step-float{
    border: 1px solid black;
}
