/* position.css */
html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
}

.page-wrapper {
    position: relative;
    transform: translateX(0);
    overflow-x: hidden;
}

.page-wrapper>nav.nav-lesson-title {
    position: fixed;
    top: 4%;
    z-index: 2;
}

.inject-content-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

.page-wrapper > .main-container {
    top: 10%;
}

.side-bar {
    overflow-x: hidden;
}

#mainTargetDiv {
    overflow-x: hidden;
}

.tutorial-link-img-container{
    position: fixed;
    top: 0;
    
}