/* position.css */
.page-wrapper {
    position: relative;
}
.page-wrapper>nav.nav-lesson-title {
    position: fixed;
    top: 4%;
    z-index: 2;
}
.inject-content-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
.page-wrapper > .main-container{
    top: 10%;
}
