/* spacing.css */
.page-wrapper>nav.nav-lesson-title {
    margin-top: 0%;
}
.main-landing-page>nav#nxtPrevLessonsBtns button {
    padding: 0 1%
}


#targetDivInjected{
    padding-top: 10%;
    padding-left: 3%;
    padding-bottom: 80%;
        margin-bottom: 80%;

}
.step-float {
    margin: 1% 0;
}
.code-container> .copy-code{
    padding-left: 1.4%;
    padding-top: .8%;
}
@media screen and (max-width:720px){
    .auto {
        margin-left: 2%;
    }
}