/* zindex.css */
#mainTargetDiv{
    z-index: 200;
}
.side-bar {
    z-index: 100;
}
.step-float {z-index: 1;}
.copy-code  {z-index: 12;}
.step-txt   {z-index: 1;}

/* Focused step rises above nearby media */
.step-float:focus-within {
    z-index: 100;
}
/* when code inside step-txt is focused */
.step-txt:focus-within {
    z-index: 500;
}
.step-container {
    /* position: relative; */
    z-index: 0;
}
/* Focused code rises above NON enlarged media */
.copy-code.is-active-code {
    z-index: 500;
}
/* Normal media */
.step-img,
.step-vid {
    z-index: 11
}
.video-controls {
    z-index: 500
}

.tutorial-link-img-container{
    z-index: 10000;
    pointer-events: auto;
}