/* components/page-header.css */
.page-header{
    position: sticky;
    top: 0;
    height: 5vh;
    z-index: 2;
}
.page-header-links {
    display: flex;
    height: 90%;
}
.page-header-links a {
    display: inline-flex;
    height: 80%;
    flex-basis: 25%;
    border: 1px solid darkgray;
    border-bottom: none;
    color: darkgray;
    border-top: none;
}
.tutorial-link-img-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    pointer-events: auto;
    touch-action: manipulation;
}

.tutorial-link-img-container img {
    max-height: 150px;
    max-width: 100px;
}