/* components/side-bar.css */
main>.side-bar {
}
main>.side-bar::-webkit-scrollbar {
    display: none;
}
.main-container>.side-bar {
    width: fit-content;
    border-right: 1px solid black;
    border-top: none !important;
    flex-basis: 25%;
    padding-right: 2%;
    position: sticky;
    top: 5vh;
    height: calc(100vh - 5vh);
    align-self: stretch;
}
.side-bar-links-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 2%;
    margin-left: 5%;
}
.side-bar-links-container>ul li {
    margin-top: 2%;
    margin-bottom: 10%;
}
.side-bar-links-container>ul code {
    display: inline;
}
.side-bar ul li a {
    display: block;
    box-sizing: border-box;
    min-width: 150px;
    width: 100%;
}

.side-bar {
    z-index: 100
}