
/* toggle-side-bar.css */
.main-container.collapsed .side-bar {
    flex-basis: 10%;
}
.main-container.collapsed .side-bar-links-container {
    opacity: 0;
    transition: all 250ms;
}
.main-container.collapsed #sideBarBtn {
    transform: scale(1.8);
    left: 10%;
    margin-left: 10%;
    /* top: 80% !important; */
    top: 90% !important;
    /* border: 10px solid red !important; */
}

@media screen and (max-width:431px){
    .main-container .side-bar {
        max-width: 24%;
    }
    .main-container.collapsed .side-bar {
        width: 8% !important;   
    }   
}