
/* toggle-side-bar.css */
.main-container.collapsed .side-bar {
    /* flex-basis: 18%; */
    width: 4%;
}
.main-container.collapsed .side-bar-links-container {
    opacity: 0;
    transition: all 250ms;
}
.main-container.collapsed .drop {
    /* position: fixed; */
    /* transform: scale(1.5); */
    /* z-index: 1; */
    /* bottom: 0; */
}


.main-container.collapsed #sideBarBtn {
    transform: scale(1.8);
    left: 10%;
    margin-left: 10%;
    /* top: 80% !important; */
    top: 90% !important;
    /* border: 10px solid red !important; */
}

@media screen and (max-width:431px){
    .main-container.collapsed .side-bar {
        /* flex-basis: 18%; */
        width: 8% !important;   
    }   
}