/* toggle-img-sizes.css */

/* Enlarged media ALWAYS wins */
.step-img.enlarge,
.step-vid.enlarge {
    position: fixed;
    z-index: 999999 !important;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%) 
                   scale(1.002);

    min-width: 90vw;
    max-width: 95vw;
    max-height: 90vh;

    object-fit: contain;
}



.step-vid.enlarge video,
.step-img.enlarge img {
    /* box-shadow: 0 0 1px 1px white; */
}
.step-img.enlarge img {
    min-height: 450px;   
}

.step-float > .step-vid.enlarge {
    box-shadow: 0 0 1px 1px lime;
}