/* copy-code */
.step-vid>.vid-cntrl-btns {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 2;
}

.vid-cntrl-btns>button {
    position: relative;
    z-index: 2;
    background-color: inherit;
    color: goldenrod;
    flex-basis: 25%;
    padding: 1% 0;
}