/* step-txt/position-step-txt.css */
/* step-txt/position-step-txt.css */

/* -----------------------------------
BASE POSITIONING
----------------------------------- */

.step-float {
    position: relative;
    z-index: 1;
}

.step-img,
.step-vid,
.copy-code,
.code-container,
.step-txt {
    position: relative;
}

.clear {
    clear: both;
}